@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-secondary scroll-smooth;
  }

  html::-webkit-scrollbar {
    width: 7px;
  }
  html::-webkit-scrollbar-track {
    @apply bg-lightgray;
  }

  html::-webkit-scrollbar-thumb {
    @apply bg-coquelicot rounded-2xl;
  }

  ul {
    list-style: none;
  }
  .section {
    @apply w-11/12  mx-auto lg:w-10/12 p-1 mt-32;
  }

  .section-bg {
    @apply bg-hero-bg z-20;
  }
  .footer-bg {
    @apply bg-footer-bg;
  }

  .gallery::-webkit-scrollbar {
    height: 5px;
  }

  .gallery::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .gallery::-webkit-scrollbar-thumb {
    @apply bg-coquelicot rounded-2xl;
  }

  .btn--black:hover {
    @apply text-white bg-blackfogra_3;
  }
  .btn--white:hover {
    @apply text-coquelicot bg-white;
  }

  .gradient__bg {
    z-index: 5;
    background: -moz-radial-gradient(
      circle at 3% 25%,
      rgba(0, 40, 83, 1) 0%,
      rgba(4, 12, 24, 1) 25%
    );

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(
      circle at 3% 25%,
      rgba(0, 40, 83, 1) 0%,
      /* rgba(4, 12, 24, 1) 25% */
    );

    /* opera 11.10+ */
    background: -o-radial-gradient(
      circle at 3% 25%,
      rgba(0, 40, 83, 1) 0%,
      rgba(4, 12, 24, 1) 25%
    );

    /* ie 10+ */
    background: -ms-radial-gradient(
      circle at 3% 25%,
      rgba(0, 40, 83, 1) 0%,
      rgba(4, 12, 24, 1) 25%
    );

    /* global 92%+ browsers support */
    background: radial-gradient(
      circle at 3% 25%,
      rgba(0, 40, 83, 1) 0%,
      rgba(4, 12, 24, 1) 25%
    );
  }
}
